body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: unset;
}

.btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--color-btn-bg);
  color: var(--color-white);
  font-weight: 600;
  border: 2px solid transparent;
  /* border-radius: 0.5rem 0 0.5rem 0; */
  transition: var(--transition);
}

.btn:hover {
  border-color: var(--color-btn-bg);
  color: var(--color-white);
  background-color: transparent;
}
.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
